@import url("https://fonts.googleapis.com/css2?family=DM Sans:wght@400&display=swap");

p {
    margin: 0;
}

.body {
    font-family: DM Sans, sans-serif;
}

.deck-card {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    /* gap: 10px; */
    width: 95%;
    /* height: 148; */
    border: 1px solid rgba(0, 0, 0, 1);
    border-radius: 10px;
    box-sizing: border-box;
    /* overflow: hidden; */
}

.cover-image {
    width: 100%;
    border-bottom: 1px solid rgba(0, 0, 0, 1);
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    padding-top: 30.25%; 
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.title {
    color: rgba(0, 0, 0, 1);
    font-size: 20px;
    font-family: DM Sans, sans-serif;
    font-weight: 400;
    margin-left: 10px;
    margin-top: 5px;
    margin-bottom: 5px;
}

.word-card {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    gap: 98px;
    width: 90%;
    height: 52px;
    padding: 13px 10px 15px;
    border-top-width: 1px;
    border-color: rgba(0, 0, 0, 1);
    border-top-style: solid;
    box-sizing: border-box;
    /* margin-top: 10px; */
  }

  .character {
    color: rgba(0, 0, 0, 1);
    font-size: 32px;
    line-height: 69%;
    font-family: DM Sans, sans-serif;
    font-weight: 500;
  }
  
  .hiragana {
    color: rgba(0, 0, 0, 1);
    font-size: 20px;
    line-height: 110%;
    font-family: DM Sans, sans-serif;
    font-weight: 500;
  }
  
  .meaning {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    color: rgba(0, 0, 0, 1);
    font-size: 20px;
    line-height: 110%;
    font-family: DM Sans, sans-serif;
    font-weight: 400;
    text-align: right;
  }

  .header {
    font-family: DM Sans, sans-serif;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    background-color: white; /* Adjust background color as needed */
    color: black; /* Adjust text color as needed */

  }

  .header-wrapper {
    position:fixed;
    top:0;
    width: 100%;
  }
  
  .title {
    font-family: DM Sans, sans-serif;
    font-size: 20px;
  }
  
  .settingsButton {
    /* background-color: transparent; */
    /* color: white; */
    /* border: none; */
    /* cursor: pointer; */
    /* font-size: 16px; */
    /* outline: none; */
    margin: 5px;
  }

  /* Dictionary view */

@import url("https://fonts.googleapis.com/css2?family=DM Sans:wght@400;500&display=swap");

p {
  margin: 0;
}

.dictionary-view {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  width: 486px;
  height: 928px;
  box-sizing: border-box;
}
.background {
  position: absolute;
  top: 35px;
  left: 37px;
  width: 412px;
  height: 858px;
}

.search-bar {
  position: absolute;
  top: 208px;
  left: 50px;
  width: 366px;
  height: 36px;
  border: 1px solid rgba(0, 0, 0, 1);
  border-radius: 10px;
  box-sizing: border-box;
}

.word-list {
  position: absolute;
  top: 265px;
  left: 55px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  width: 358px;
  height: 549px;
  box-sizing: border-box;
}
.word-card {
  position: absolute;
  top: 520px;
  left: 0px;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  gap: 98px;
  width: 100%;
  height: 52px;
  padding: 13px 5px 15px;
  border-top-width: 1px;
  border-color: rgba(0, 0, 0, 1);
  border-style: solid;
  box-sizing: border-box;
}
.character {
  color: rgba(0, 0, 0, 1);
  font-size: 32px;
  line-height: 69%;
  font-family: DM Sans, sans-serif;
  font-weight: 500;
}

.hiragana {
  color: rgba(0, 0, 0, 1);
  font-size: 20px;
  line-height: 110%;
  font-family: DM Sans, sans-serif;
  font-weight: 500;
}

.meaning {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  color: rgba(0, 0, 0, 1);
  font-size: 20px;
  line-height: 110%;
  font-family: DM Sans, sans-serif;
  font-weight: 400;
  text-align: right;
}

.word-card-1 {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  gap: 98px;
  width: 100%;
  padding: 13px 10px 15px;
  border-top-width: 1px;
  border-color: rgba(0, 0, 0, 1);
  border-style: solid;
  box-sizing: border-box;
}
.character-1 {
  color: rgba(0, 0, 0, 1);
  font-size: 32px;
  line-height: 69%;
  font-family: DM Sans, sans-serif;
  font-weight: 500;
}

.hiragana-1 {
  color: rgba(0, 0, 0, 1);
  font-size: 20px;
  line-height: 110%;
  font-family: DM Sans, sans-serif;
  font-weight: 500;
}

.meaning-1 {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  color: rgba(0, 0, 0, 1);
  font-size: 20px;
  line-height: 110%;
  font-family: DM Sans, sans-serif;
  font-weight: 400;
  text-align: right;
}

.word-card-2 {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  gap: 98px;
  width: 100%;
  padding: 13px 10px 15px;
  border-top-width: 1px;
  border-color: rgba(0, 0, 0, 1);
  border-style: solid;
  box-sizing: border-box;
}
.character-2 {
  color: rgba(0, 0, 0, 1);
  font-size: 32px;
  line-height: 69%;
  font-family: DM Sans, sans-serif;
  font-weight: 500;
}

.hiragana-2 {
  color: rgba(0, 0, 0, 1);
  font-size: 20px;
  line-height: 110%;
  font-family: DM Sans, sans-serif;
  font-weight: 500;
}

.meaning-2 {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  color: rgba(0, 0, 0, 1);
  font-size: 20px;
  line-height: 110%;
  font-family: DM Sans, sans-serif;
  font-weight: 400;
  text-align: right;
}

.word-card-3 {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  gap: 98px;
  width: 100%;
  padding: 13px 10px 15px;
  border-top-width: 1px;
  border-color: rgba(0, 0, 0, 1);
  border-style: solid;
  box-sizing: border-box;
}
.character-3 {
  color: rgba(0, 0, 0, 1);
  font-size: 32px;
  line-height: 69%;
  font-family: DM Sans, sans-serif;
  font-weight: 500;
}

.hiragana-3 {
  color: rgba(0, 0, 0, 1);
  font-size: 20px;
  line-height: 110%;
  font-family: DM Sans, sans-serif;
  font-weight: 500;
}

.meaning-3 {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  color: rgba(0, 0, 0, 1);
  font-size: 20px;
  line-height: 110%;
  font-family: DM Sans, sans-serif;
  font-weight: 400;
  text-align: right;
}

.word-card-4 {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  gap: 98px;
  width: 100%;
  padding: 13px 10px 15px;
  border-top-width: 1px;
  border-color: rgba(0, 0, 0, 1);
  border-style: solid;
  box-sizing: border-box;
}
.character-4 {
  color: rgba(0, 0, 0, 1);
  font-size: 32px;
  line-height: 69%;
  font-family: DM Sans, sans-serif;
  font-weight: 500;
}

.hiragana-4 {
  color: rgba(0, 0, 0, 1);
  font-size: 20px;
  line-height: 110%;
  font-family: DM Sans, sans-serif;
  font-weight: 500;
}

.meaning-4 {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  color: rgba(0, 0, 0, 1);
  font-size: 20px;
  line-height: 110%;
  font-family: DM Sans, sans-serif;
  font-weight: 400;
  text-align: right;
}

.word-card-5 {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  gap: 98px;
  width: 100%;
  padding: 13px 10px 15px;
  border-top-width: 1px;
  border-color: rgba(0, 0, 0, 1);
  border-style: solid;
  box-sizing: border-box;
}
.character-5 {
  color: rgba(0, 0, 0, 1);
  font-size: 32px;
  line-height: 69%;
  font-family: DM Sans, sans-serif;
  font-weight: 500;
}

.hiragana-5 {
  color: rgba(0, 0, 0, 1);
  font-size: 20px;
  line-height: 110%;
  font-family: DM Sans, sans-serif;
  font-weight: 500;
}

.meaning-5 {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  color: rgba(0, 0, 0, 1);
  font-size: 20px;
  line-height: 110%;
  font-family: DM Sans, sans-serif;
  font-weight: 400;
  text-align: right;
}

.word-card-6 {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  gap: 98px;
  width: 100%;
  padding: 13px 10px 15px;
  border-top-width: 1px;
  border-color: rgba(0, 0, 0, 1);
  border-style: solid;
  box-sizing: border-box;
}
.character-6 {
  color: rgba(0, 0, 0, 1);
  font-size: 32px;
  line-height: 69%;
  font-family: DM Sans, sans-serif;
  font-weight: 500;
}

.hiragana-6 {
  color: rgba(0, 0, 0, 1);
  font-size: 20px;
  line-height: 110%;
  font-family: DM Sans, sans-serif;
  font-weight: 500;
}

.meaning-6 {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  color: rgba(0, 0, 0, 1);
  font-size: 20px;
  line-height: 110%;
  font-family: DM Sans, sans-serif;
  font-weight: 400;
  text-align: right;
}

.word-card-7 {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  gap: 98px;
  width: 100%;
  padding: 13px 10px 15px;
  border-top-width: 1px;
  border-color: rgba(0, 0, 0, 1);
  border-style: solid;
  box-sizing: border-box;
}
.character-7 {
  color: rgba(0, 0, 0, 1);
  font-size: 32px;
  line-height: 69%;
  font-family: DM Sans, sans-serif;
  font-weight: 500;
}

.hiragana-7 {
  color: rgba(0, 0, 0, 1);
  font-size: 20px;
  line-height: 110%;
  font-family: DM Sans, sans-serif;
  font-weight: 500;
}

.meaning-7 {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  color: rgba(0, 0, 0, 1);
  font-size: 20px;
  line-height: 110%;
  font-family: DM Sans, sans-serif;
  font-weight: 400;
  text-align: right;
}

.word-card-8 {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  gap: 98px;
  width: 100%;
  padding: 13px 10px 15px;
  border-top-width: 1px;
  border-color: rgba(0, 0, 0, 1);
  border-style: solid;
  box-sizing: border-box;
}
.character-8 {
  color: rgba(0, 0, 0, 1);
  font-size: 32px;
  line-height: 69%;
  font-family: DM Sans, sans-serif;
  font-weight: 500;
}

.hiragana-8 {
  color: rgba(0, 0, 0, 1);
  font-size: 20px;
  line-height: 110%;
  font-family: DM Sans, sans-serif;
  font-weight: 500;
}

.meaning-8 {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  color: rgba(0, 0, 0, 1);
  font-size: 20px;
  line-height: 110%;
  font-family: DM Sans, sans-serif;
  font-weight: 400;
  text-align: right;
}

.word-card-9 {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  gap: 98px;
  width: 100%;
  padding: 13px 5px 15px;
  border-top-width: 1px;
  border-color: rgba(0, 0, 0, 1);
  border-style: solid;
  box-sizing: border-box;
}
.character-9 {
  color: rgba(0, 0, 0, 1);
  font-size: 32px;
  line-height: 69%;
  font-family: DM Sans, sans-serif;
  font-weight: 500;
}

.hiragana-9 {
  color: rgba(0, 0, 0, 1);
  font-size: 20px;
  line-height: 110%;
  font-family: DM Sans, sans-serif;
  font-weight: 500;
}

.meaning-9 {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  color: rgba(0, 0, 0, 1);
  font-size: 20px;
  line-height: 110%;
  font-family: DM Sans, sans-serif;
  font-weight: 400;
  text-align: right;
}

.word-card-10 {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  gap: 98px;
  width: 100%;
  padding: 13px 5px 15px;
  border-top-width: 1px;
  border-color: rgba(0, 0, 0, 1);
  border-style: solid;
  box-sizing: border-box;
}
.character-10 {
  color: rgba(0, 0, 0, 1);
  font-size: 32px;
  line-height: 69%;
  font-family: DM Sans, sans-serif;
  font-weight: 500;
}

.hiragana-10 {
  color: rgba(0, 0, 0, 1);
  font-size: 20px;
  line-height: 110%;
  font-family: DM Sans, sans-serif;
  font-weight: 500;
}

.meaning-10 {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  color: rgba(0, 0, 0, 1);
  font-size: 20px;
  line-height: 110%;
  font-family: DM Sans, sans-serif;
  font-weight: 400;
  text-align: right;
}

.page-wrapper {
  position: absolute;
  top: 35px;
  left: 28px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  width: 411px;
  height: 858px;
  box-sizing: border-box;
}
.footer-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  padding: 2px 29px 12px 31px;
  border-top-width: 2px;
  border-color: rgba(161, 165, 172, 0.25);
  border-style: solid;
  box-sizing: border-box;
  background-color: rgba(255, 255, 255, 1);
}
.footer {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: flex-start;
  width: 100%;
  height: 100%;
  box-sizing: border-box;
}
.icon {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  height: fit-content;
  box-sizing: border-box;
}
.fiber-_manual-_record {
  width: 100%;
  height: 100%;
}

.home {
  display: flex;
  flex-direction: column;
  justify-content: center;
  color: rgba(64, 64, 64, 1);
  font-size: 12px;
  line-height: 183%;
  font-family: DM Sans, sans-serif;
  font-weight: 500;
  text-align: center;
}

.icon-1 {
  display: flex;
  flex-direction: row;
  align-items: flex-end;
  height: fit-content;
  box-sizing: border-box;
}
.bookmarks {
  width: 100%;
  height: 100%;
}

.decks {
  display: flex;
  flex-direction: column;
  justify-content: center;
  color: rgba(64, 64, 64, 1);
  font-size: 12px;
  line-height: 183%;
  font-family: DM Sans, sans-serif;
  font-weight: 500;
  text-align: center;
}

.icon-2 {
  position: relative;
  width: 78.24px;
  height: 100%;
  box-sizing: border-box;
}
.book {
  position: absolute;
  top: 0px;
  left: 7.12px;
  width: 64px;
  height: 32.32px;
}

.dictionary {
  position: absolute;
  top: 56.86%;
  bottom: 3.1%;
  left: 11.9%;
  right: 11.9%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  color: rgba(64, 64, 64, 1);
  font-size: 12px;
  line-height: 183%;
  font-family: DM Sans, sans-serif;
  font-weight: 500;
  text-align: center;
}

.header {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: flex-start;
  box-sizing: border-box;
}
.zenji {
  display: flex;
  flex-direction: column;
  justify-content: center;
  color: rgba(0, 11, 0, 1);
  font-size: 24px;
  line-height: 92%;
  font-family: DM Sans, sans-serif;
  font-weight: 400;
  text-align: center;
}

.vector {
  width: 23px;
  height: 100%;
}

.my-words {
  position: absolute;
  top: 163px;
  left: 67px;
  color: rgba(0, 0, 0, 1);
  font-size: 32px;
  line-height: 69%;
  font-family: DM Sans, sans-serif;
  font-weight: 500;
}

.iphone-template {
  position: absolute;
  top: 35px;
  left: 37px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  width: 402px;
  height: 858px;
  border-radius: 20px;
  box-sizing: border-box;
  background-image: url(https://firebasestorage.googleapis.com/v0/b/unify-v3-copy.appspot.com/o/42y4mm64mdr-I547%3A911%3B497%3A24173?alt=media&token=52202c00-346d-459f-b291-1a9a2a59cd57);
}
.phone-stuff {
  display: flex;
  flex-direction: row;
  width: fit-content;
  box-sizing: border-box;
}
.time-1 {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  height: 100%;
  padding: 18px 52.5px 14.19px 53px;
  box-sizing: border-box;
}
.time {
  display: flex;
  flex-direction: column;
  justify-content: center;
  color: rgba(0, 0, 0, 1);
  font-size: 17px;
  line-height: 129%;
  font-family: SF Pro, sans-serif;
  font-weight: 600;
  text-align: center;
}

.levels {
  width: 140.5px;
  height: 100%;
}

.home-indicator {
  gap: 10px;
  width: 393px;
  height: 21px;
}
