.dictionary-view {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    width: 100%;
    box-sizing: border-box;
    gap: 20px;
    padding-top: 10px;
}

.single-word-view {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    width: 100%;
    box-sizing: border-box;
    transition: all 0.3s;
}

.word-list {
    height: unset;
    max-height: 70vh;
}

.character-header {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    max-width: 500px;
}

.character-kanji {
    display: flex;
    gap: 30px;
    font-size: 64px;
    font-weight: 400;
    margin: 10px;
    margin-left: 0px;
    margin-top: 0px;
}

.character-meanings {
    font-size: 28px;
    font-weight: 500;
    text-align: end;
    max-height: 80px;
    overflow: hidden;
}

.info {
    width: 100%;
    max-width: 500px;
    max-height: 100vh;
    transition: all 0.3s ease;
}

.character-info{
    gap: 50px;
    font-size: 20px;
    font-weight: 300;
    justify-content: space-between;
    padding-bottom: 20px;
    columns: 2;
    transition: all 0.3s ease;
}

.info-hidden {
    opacity: 0;
    max-height: 0;
    padding-bottom: 0;
    transition: all 0.3s ease;
}

.mastery-desc {
    font-size: 20px;
    padding-top: 10px;
    border-top: 1.5px solid rgba(0, 0, 0, 1);
    width: 100%;
}

.character-info-button {
    display: flex;
    width: -webkit-fill-available;
    border-radius: 10px;
    justify-content: flex-end;
    margin: 10px;
    color: #3a3a3ad7;
    gap: 5px;
}