.grade-info {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    overflow-x: scroll;
    margin-bottom: 20px;
    transition: all 0.3s ease;

}

.feedback-container {
    position: relative;
    z-index: 5;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    gap: 1rem; /* Add gap between feedback boxes */
    overflow-x: scroll; /* Allow horizontal scrolling */
    scroll-snap-type: x mandatory; /* Enable mandatory snap points on the x-axis */
    scrollbar-width: none; /* Hide scrollbar for Firefox */
    -ms-overflow-style: none; /* Hide scrollbar for Internet Explorer/Edge */
}

.feedback-container::-webkit-scrollbar {
    display: none; /* Hide scrollbar for WebKit browsers (Chrome, Safari) */
}

.feedback {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    /* min-width: 100%;
    margin-left: 1rem; */
    overflow: wrap;
    margin-bottom: 10px;
}

.feedback-box-strokes {
    display: flex;
    flex-direction: column;
    /* padding: 0 1rem;
    padding-bottom: 1rem;
    min-width: calc(99% - 2rem); */
    overflow: wrap;
    /* border: 1px solid black; */
    border-radius: 10px;
}

.feedback-header {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-width: 100%;
    overflow: wrap;
}

.grade-info-button {
    display: flex;
    width: -webkit-fill-available;
    border-radius: 10px;
    justify-content: flex-end;
    margin: 10px;
    margin-left: 0;
    margin-right: 0;
    color: var(--deemphasized-1);
    gap: 5px;
}

.score-overview{
    display: flex;
    flex-direction: column;
    /* justify-content: space-between; */
    margin: 10px;
}

.your-score{
    font-size: 18px;
}

.feedback-word{
    font-size: 18px;
    font-weight: 500;
}

.feedback-box {
    /* display: flex; */
    flex-direction: column;
    align-items: center;
    /* padding: 0 1rem;
     */
    min-width: calc(99% - 2rem);
    overflow: wrap;
    /* border: 1px solid black; */
    /* border-radius: 10px; */
    /* padding-bottom: 20px; */
}

.feedback-detail {
    border-bottom: 1.5px solid var(--border);
}

.grade-circle {
    border-radius: 50%;
    width: 70px;
    border: 1px solid var(--border);
    aspect-ratio: 1/1;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 30px;
    font-weight: 500;
    margin: 10px;
}
