.login-page {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 80vh;
}

.login-prompt{
    width: 250px;
    text-align: center;
    padding-bottom: 1rem;
}

label {
    font-size: 16px;
    color: var(--deemphasized-1);
}

.form-group {
    padding: 2rem;
    display: flex;
    flex-direction: column;
    min-width: 10rem;
    max-width: 20rem;
    gap: 1rem
}

.check-group{
    justify-content: center;
    align-items: center;
    display: flex;
}

.input-group {
    display: flex;
    flex-direction: column;
}


.submit-row {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.login-error {
    color: red;
    font-weight: 300;
}